@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif !important;
}

.bigimage {
	display: none !important;
}

.active {
	color: #e1b168 !important;
}

.ck-content > p {
	font-size: 20px;
}
.ck-content > h2 {
	font-size: 38px;
}
.ck-content > h3 {
	font-size: 28px;
}
.ck-content > h4 {
	font-size: 24px;
}

.ck-content {
	min-height: 400px;
	padding: 20px 40px;
}
.ck-content ol,
.ck-content ul {
	width: calc(100% - 30px);
	margin-left: 20px;
}
.ck-content li {
	margin-bottom: 5px;
}

.ck-focused {
	border: 2px solid #000000 !important;
}
.ck-placeholder {
	opacity: 0.4;
}
.css-17gux7x-MuiPaper-root-MuiAccordion-root {
	border-radius: 0 !important;
}

.newsletter {
	background: "green !important";
}

option {
	color: white;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
