@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif !important;
}

.bigimage {
	display: none !important;
}

.ck-content > p {
	font-size: 20px;
}
.ck-content > h2 {
	font-size: 38px;
}
.ck-content > h3 {
	font-size: 28px;
}
.ck-content > h4 {
	font-size: 24px;
}
