@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif !important;
}

.bigimage {
	display: none !important;
}

.active {
	color: #e1b168 !important;
}

.ck-content > p {
	font-size: 16px;
	font-weight: 400;
}
.ck-content > h2 {
	font-size: 38px;
	font-family: "Cormorant Infant", serif !important;
	font-weight: bold;
}
.ck-content > h3 {
	font-size: 28px;
	font-family: "Cormorant Infant", serif !important;
	font-weight: bold;
}
.ck-content > h4 {
	font-size: 24px;
	font-family: "Cormorant Infant", serif !important;
	font-weight: bold;
}

.ck-content {
	min-height: 400px;
}

.ck-content ol,
.ck-content ul {
	width: calc(100% - 30px);
	margin-left: 20px;
}
.ck-content li {
	margin-bottom: 5px;
}
.ck-content ul {
	list-style-type: none !important;
	margin-block: 20px;
}
.ck-content blockquote {
	border: none !important;
	padding: 50px;
	background-color: #fff8f5;
	text-align: center;
}
.ck-content blockquote p {
	font-family: "Cormorant Infant", serif !important;
	font-weight: bold;
	font-style: normal !important;

	font-size: 18px;
}
.ck-content ul li:before {
	content: "\2022";
	color: #e1b168;
	font-size: 16px;
	margin-right: 8px;
}

.ck-focused {
	border: 2px solid #000000 !important;
}
.ck-placeholder {
	opacity: 0.4;
}
.css-17gux7x-MuiPaper-root-MuiAccordion-root {
	border-radius: 0 !important;
}

.newsletter {
	background: "green !important";
}

option {
	color: white;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
